@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="AdminModels" asp-action="Login">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UserModels" asp-action="Login">User</a>
    </li>
</div>